<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../icons/restaurant_white_24dp.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/revenues.css">

    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>foodfy_Veg</title>
</head>
<body>
    
    <header class="navBar">

        <div id="home">
            <a href="../index.html" title="Home">foodfy_Veg</a>
        </div>

        <div id="links">
            <a href="./about.html" title="Sobre">sobre</a>
            <a href="./revenues.html" title="Receitas">receitas</a>
        </div>

    </header>

    
    <section class="mostAccessed">

        <div id="title">

            <h2>Receitas</h2>
        </div>

        <div class="revenue" id="1">
            <div class="imageRevenue">
                <img src="../images/1.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Homus</h3>
                <p>Tempo de preparo: 10 min</p>
            </div>

        </div>

        <div class="revenue" id="2">
            <div class="imageRevenue" id="2.jpg">
                <img src="../images/2.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Abobrinha recheada</h3>
                <p>Tempo de preparo: 30 min</p>
            </div>

        </div>

        <div class="revenue" id="3">
            <div class="imageRevenue" id="3.jpg">
                <img src="../images/3.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Wrap de legumes vegano</h3>
                <p>Tempo de preparo: 20 min</p>
            </div>

        </div>

        <div class="revenue" id="4">
            <div class="imageRevenue" id="4.jpg">
                <img src="../images/4.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Sopa de tomate dentro do pão</h3>
                <p>Tempo de preparo: 25 min</p>
            </div>

        </div>

        <div class="revenue" id="5">
            <div class="imageRevenue" id="5.jpg">
                <img src="../images/5.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Manjar de água de coco</h3>
                <p>Tempo de preparo: 260 min</p>
            </div>

        </div>

        <div class="revenue" id="6">
            <div class="imageRevenue" id="6.jpg">
                <img src="../images/6.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Quiche de abobrinha</h3>
                <p>Tempo de preparo: 50 min</p>
            </div>

        </div>

        <div class="revenue" id="1">
            <div class="imageRevenue" id="1.jpg">
                <img src="../images/1.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Homus</h3>
                <p>Tempo de preparo: 10 min</p>
            </div>

        </div>

        <div class="revenue" id="2">
            <div class="imageRevenue" id="2.jpg">
                <img src="../images/2.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Abobrinha recheada</h3>
                <p>Tempo de preparo: 30 min</p>
            </div>

        </div>

        <div class="revenue" id="3">
            <div class="imageRevenue" id="3.jpg">
                <img src="../images/3.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Wrap de legumes vegano</h3>
                <p>Tempo de preparo: 20 min</p>
            </div>

        </div>

        <div class="revenue" id="4">
            <div class="imageRevenue" id="4.jpg">
                <img src="../images/4.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Sopa de tomate dentro do pão</h3>
                <p>Tempo de preparo: 25 min</p>
            </div>

        </div>

        <div class="revenue" id="5">
            <div class="imageRevenue" id="5.jpg">
                <img src="../images/5.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Manjar de água de coco</h3>
                <p>Tempo de preparo: 260 min</p>
            </div>

        </div>

        <div class="revenue" id="6">
            <div class="imageRevenue" id="6">
                <img src="../images/6.jpg" alt="" srcset="">
            </div>

            <div class="contentRevenue">
                <h3>Quiche de abobrinha</h3>
                <p>Tempo de preparo: 50 min</p>
            </div>

        </div>

    </section>

    <div class="modalRevenue">
        <div class="modal">
            <div class="modalContent">
                <img src="" alt="Receita">
                <h3></h3>
                <p></p>
                
                <a href="https://br.recepedia.com/artigos/confira-6-receitas-vegetarianas-saborosas-para-qualquer-moment-do-seu-dia/" target="_blank">link para detalhes da receita</a>

            </div>

            <div class="closeModal">
                <a href="" title="Fechar Receita">
                    fechar
                </a>
            </div>
        </div>

    </div>


    <footer>
        <p>Desenvolvido por <a href="https://www.linkedin.com/in/hiago-ramalho/" target="_blank">Hiago Ramalho</a> - Dev FrontEnd Jr.</p>
    </footer>


    <script src="../scripts/revenues.js"></script>
</body>
</html>